<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h3>Hello</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['servers']">Servers</a></li>
        <li routerLinkActive="active"><a [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

